@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
