@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: space-between, $direction: column);
  position: relative;
  width: 296px;
  min-height: 363px;
  border-radius: 24px;
  box-shadow: $shadow-white-strong;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 24px;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      180deg,
      rgba(138, 56, 245, 0.2) 0%,
      rgba(18, 0, 42, 0.2) 100%
    );
    pointer-events: none;
    z-index: 1;
  }

  @media (max-width: 768px) {
    width: 173px;
    min-height: 230px;
    padding: 10px 4px 16px 4px;
  }
}

.statusContent {
  align-self: flex-start;
  position: relative;
  z-index: 2;
  margin-bottom: 104px;

  @media (max-width: 768px) {
    padding: 0px 6px 0px 6px;
    margin-bottom: 29px;
  }
}

.content {
  position: relative;
  z-index: 2;
  @include flex($align: center, $justify: center, $direction: column);
  padding: 16px;
  margin-bottom: 24px;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;

  @media (max-width: 768px) {
    backdrop-filter: blur(1px);
    padding: 8px;
    margin-bottom: 16px;
  }
}

.title {
  @extend %h1;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 130%;
  }
}

.description {
  @extend %semi-medium-14;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 140%;
  }
}

.actionZone {
  position: relative;
  z-index: 2;
  width: 168px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 124px;
  }
}
