@use "../shared/styles/variables" as *;
@use "../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: center);
  @include size($w: 64px, $h: 64px);
  background: $gradient-pink-red;
  box-shadow: $shadow-pink;
  border-radius: 16px;
  width: 64px;
  height: 64px;

  @media (max-width: 768px) {
    width: 44px;
    height: 44px;
    border-radius: 12px;
  }
}

.logoText {
  width: 24px;
  height: 24px;
}
