@use "../shared/styles/variables" as *;
@use "../shared/styles/extends" as *;
@use "../shared/styles/mixins" as *;

.button {
  @extend %semi-bold-16;
  width: 100%;
  height: 48px;
  color: $white;
  padding: 10px;
  position: relative;
  background: $gradient-pink-red;
  border-radius: 100px;
  border: none;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: $shadow-pink;
  }
}

.pressed {
  background: $gradient-red-purple;
}

.disabled {
  background: $gradient-light-pink;
}

.icon {
  position: absolute;
  right: 10px;
}
