@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: flex-start, $direction: column);
  max-width: 292px;
  border-radius: 16px;
  background: $deep-indigo;
  padding: 16px;
  position: relative;
  z-index: 1;
  height: fit-content;
  align-self: flex-start;
}

.goldCup {
  position: absolute;
  top: -34;
  left: -40;
}

.error {
  @extend %semi-regular-12;
  color: $system-error;
  padding: 16px;
  text-align: center;
}

.error {
  color: $system-error;
}
