@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 16px;
}
