@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: center, $direction: column);
  width: 100%;
  gap: 16px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $gradient-dark-purple;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gradient-gold-orange;
    border-radius: 3px;
    box-shadow: $shadow-gold;
  }
}
