@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: flex-start, $direction: column);
  max-width: 292px;
  max-height: 650px;
  width: 100%;
  border-radius: 16px;
  background: $deep-indigo;
  padding: 16px;
  position: relative;
  z-index: 1;
  height: fit-content;
  align-self: flex-start;

  @media (max-width: 1280px) {
    max-width: 616px;
    width: 100%;
    align-self: center;
  }

  @media (max-width: 768px) {
    max-width: 361px;
    width: 100%;
    align-self: center;
  }
}

.goldCup {
  position: absolute;
  top: -34;
  left: -40;

  @media (max-width: 1440px) {
    top: -34px;
    left: -25px;
  }
}

.error {
  @extend %semi-regular-12;
  color: $system-error;
  padding: 16px;
  text-align: center;
}

.error {
  color: $system-error;
}
