@use "../shared/styles/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-inter;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  color: $white;
  background: $gradient-dark-purple;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
