@use "../shared/styles/variables" as *;
@use "../shared/styles/mixins" as *;

.container {
  min-height: 100vh;
  padding: 140px 48px 24px 48px;
  gap: 24px;

  @media (max-width: 1440px) {
    padding: 126px 16px 0px 16px;
  }

  @media (max-width: 1280px) {
    padding: 106px 16px 0px 16px;
  }
}
