@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: flex-start, $justify: center, $direction: column);
  width: 100%;
  gap: 8px;
}

.label {
  @extend %manrope-medium;
  text-align: left;
  color: $gray-30;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  @extend %manrope-medium;
  background: $white;
  text-align: left;
  border-radius: 8px;
  border: 1.5px solid transparent;
  padding: 10px;
  width: 100%;
  color: $gray-100;

  &::placeholder {
    color: $gray-30;
  }
}

.toggleButton {
  @include flex($align: center, $justify: center);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.errorText {
  @extend %manrope-medium;
  text-align: left;
  color: $system-error;
  white-space: pre-line;
}

.successText {
  @extend %semi-regular-16;
  color: $system-success;
}
