@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: flex-start, $direction: column);
  width: 100%;
}

.messages {
  @include flex($align: center, $justify: flex-start, $direction: column);
  gap: 16px;
  margin-bottom: 16px;
  padding: 32px;
  max-height: 650px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $gradient-dark-purple;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gradient-gold-orange;
    border-radius: 3px;
    box-shadow: $shadow-gold;
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    margin-top: 32px;
    padding: 32px 16px 32px 32px;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.formElements {
  @include flex($align: center, $justify: space-between);
  gap: 16px;

  @media (max-width: 1280px) {
    justify-content: center;
    position: fixed;
    bottom: 16px;
    width: 100%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  visibility: hidden;
  transition:
    background 0.3s ease,
    visibility 0.3s ease;
  display: flex;
  align-items: flex-end;
}

.overlayOpen {
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.modal {
  width: 100%;
  height: 80vh;
  border-radius: $radius-lg $radius-lg 0 0;
  padding: 32px 32px 0px 32px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $gradient-dark-purple;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gradient-gold-orange;
    border-radius: 3px;
    box-shadow: $shadow-gold;
  }

  @media (max-width: 1280px) {
    background: $dark-purple;
  }
}

.modalOpen {
  transform: translateY(0);
}
