@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: center, $direction: column);
  max-width: 250px;
  width: 250px;
  gap: 8px;
  margin-bottom: 32px;
}

.title {
  @extend %h4;

  &_letter {
    position: relative;
  }
  &_letter::before {
    content: "";
    width: 5px;
    top: 5.5px;
    left: 1px;
    position: absolute;
    height: 5px;
    border-radius: 50%;
    background: $gradient-pink-red;
    box-shadow: $shadow-pink-neon;
  }
}

.line {
  width: 100%;
  height: 1px;
  background: $gray-30;
}

.groupLabels {
  @include flex($align: center, $justify: space-between);
  width: 100%;

  &_text {
    @extend %semi-medium-14;
  }
  &_text:nth-child(2) {
    background: $gradient-gold-orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
