@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: center, $direction: column);
}

.messages {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 32px;
  margin-bottom: 16px;
}

.formElements {
  @include flex($align: center, $justify: space-between);
  gap: 16px;
}
