@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.container {
  @include flex($align: center, $justify: flex-start, $direction: column);
}

.messages {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 32px;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    gap: 16px;
    margin-bottom: 0;
  }
}

.formElements {
  @include flex($align: center, $justify: space-between);
  gap: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  visibility: hidden;
  transition:
    background 0.3s ease,
    visibility 0.3s ease;
  display: flex;
  align-items: flex-end;
}

.overlayOpen {
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.modal {
  width: 100%;
  height: 80vh;
  background: $night-black;
  border-radius: $radius-lg $radius-lg 0 0;
  padding: 32px 32px 0px 32px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  @media (max-width: 768px) {
    background: $dark-purple;
  }
}

.modalOpen {
  transform: translateY(0);
}
