@use "../../shared/styles/variables" as *;
@use "../../shared/styles/extends" as *;
@use "../../shared/styles/mixins" as *;

.button {
  @include flex($align: center, $justify: center);
  width: 44px;
  height: 44px;
  background: rgba(124, 124, 232, 0.33);
  border: none;
  border-radius: 50%;
}
